.main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}                   
@media only screen and (max-width: 1920px) {
    .main_wrapper{
        margin: 0 auto;
        width: 55%;
        font-size:12px;
    }
}

@media only screen and (max-width: 1370px) {
    .main_wrapper{
        margin: 0 auto;
        width: 70%;
        font-size:11px;
    }
}


h1,h2,h3,h4,p{
    margin:0px 0px 0px 0px;
}
/**HEADER**/
/**HEADER_TOP**/
.header_top{
    background-color: #96b7be;
}

.header_top_container{
    padding: 32px 0px 32px 0px;
}

.header_top_container ul{
    float:right;
}

.header_top_container ul li{
    float:left;
    border-left: 1px solid white;
    margin-right: 0px 36px 0px 0px;
    width: 120px;
    padding:0px 0px 0px 15px;
}

.header_top_container ul li:last-child{
    margin: 0px 0px 0px 0px;
}

.header_top div ul li span{
    font-size:20px;
    font-weight: bold;
}

.header_top div ul li p{
    margin:12px 0px 0px 0px;
}

/**HEADER_TOP**/
/**HEADER_BOTTOM**/
.header_bottom{
    background-color:#cbdde1; 
}

.header_bottom_container{
    padding:40px 0px 30px 0px;
}

.header_bottom_contents{
    float:right;
    padding:83px 16px 30px 0px;
    width: 436px;
}

@media only screen and (max-width: 1370px) {
    .header_bottom_contents{
        float:right;
        padding:83px 16px 30px 0px;
        width: 388px;
    }

    .header_bottom_contents h1{
        font-size:37px !important;
        color:white;
    }
}

.header_bottom_contents h1{
    font-size:42px;
    color:white;
}

.header_bottom_contents p{
    margin:12px 0px 0px 0px;
}

.header_bottom_contents p:last-child{
    font-size:20px;
    color:#305f66;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border:1px solid #aecad0;
    padding:20px 15px 20px 15px;
}

.header_bottom_contents p:last-child span{
    margin:0px 60px 10px 0px;
}

@media only screen and (max-width: 1370px) {
    .header_bottom_contents p:last-child{
        font-size:14px;
        color:#305f66;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        border:1px solid #aecad0;
        padding:20px 15px 20px 15px;
    }
    
    .header_bottom_contents p:last-child span{
        margin:0px 60px 10px 0px;
    }
}
/**HEADER_BOTTOM**/
/**HEADER**/

/**CONTENT**/
/**CONTENT TOP**/
.content_top{
    margin:10px 0px 0px 0px;
}

.content_top .row{
    padding:  20px 0px 20px 0px;
}

.content_top .row .col{
    /* border-top:1px solid #cbdde1; */
    color:#666666;
    float:left;
    margin:  0px 45px 0px 0px;
    width: 210px;  
}

@media only screen and (max-width: 1370px) {
    .content_top .row .col{
        /* border-top:1px solid #cbdde1; */
        color:#666666;
        float:left;
        margin:  0px 45px 0px 0px;
        width: 180px;  
    }
}

.content_top .row .col:last-child{
    margin: 0px 0px 0px 0px;
}

.content_top .row .col h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.content .row:last-child{
    border-bottom:1px solid #cbdde1;
    padding:10px 0px 10px 0px;
}

.content .row:last-child .col{
    padding: 10px 0px 10px 0px;
    border-top:1px solid #cbdde1;
    width: 215px;
}

@media only screen and (max-width: 1370px) {
    .content .row:last-child .col{
        padding: 10px 0px 10px 0px;
        border-top:1px solid #cbdde1;
        width: 190px;
    }
}

.content .row:last-child .col img{
    padding:2px 2px 2px 1px;
    width: 100%;
    border: 1px solid #9bc3cc;
}
/**CONTENT TOP**/
/**CONTENT BOTTOM**/
.content_bottom{
    color:#666666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:20px 0px 20px 0px;
}

.content_bottom_left {
    float: left;
    width: 60%;
}

.content_bottom_left h3{
    font-size: 18px;
    padding:0px 0px 20px 0px;
}

.content_bottom_left p{
    padding:0px 0px 12px 0px;
}

.content_bottom_right{
    float: right;
    width: 30%;
}

.content_bottom_rtitle img{
    float: left;
    margin-right: 10px;
}

.content_bottom_rtitle h3{
    padding: 10px 0px 10px 0px;
    font-size: 18px;
}

.content_bottom_rcontent p{
    padding:10px 0 10px 0px;
}

.content_bottom_rcontent a{
    display: block;
    text-align: right;
}
/**CONTENT BOTTOM**/
/**CONTENT**/



/***FOOTER****/

.footer{
    background-color:#cbdde1; 
}

.footer_title{
    color:#666666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #cbdd;
    padding:0px 0px 10px 0px;
    margin: 0px 0px 30px 0px;
}

.footer_wrapper ul{
    padding: 20px 0px 0px 0px;
}

.footer_wrapper ul li{
    float:left;
    width: 28%;
    margin: 0px 80px 0px 0px;
}

@media only screen and (max-width: 1370px) {
    .footer_wrapper ul li{
        float:left;
        width: 27%;
        margin: 0px 85px 0px 0px;
    }
}

.footer_wrapper ul li div{
    padding-bottom: 20px;
}

.footer_wrapper ul li:last-child{
    margin: 0px 0px 0px 0px;
}

.go input{
    margin-right: 50px;
}

.go button{
    background-color: white;
}

.footer_bottom .footer_bottom_rtitle{
    float: right;
}

.author{
    padding:10px 0px 10px 0px;
    background-color:#054451;
    color: white;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/***FOOTER****/
